#chartContainer {
    height: 100%;
    width: 50%;
    margin-left: 10%;
    margin-bottom: 8%;
    float: left;
}
#chart{
    height: 50%;
    width: 50%;
}
header {

    height: 20%;

}

h1 {
    text-align: center;
    font-size: 4em;
}

#h1 {
    float: left;
    width: 80%;
}

body, html {
    height: 100%;
    margin: 3px;
}

#headerDiv {
    float: left;
    width: 19%;
    border: solid black 1px;

}

input, select, fieldset {
    margin-bottom: 1em;
}

button {
    padding: 2% 5%;
    float: left;
}

.floatL {
    float: left;
}


#clear {
    clear: both;
}

#buyButton {
    float: right;
    height: 100%;
    width: 20%;

}

#bigDiv {
    height: 35%;
}

#biggerDiv {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#nachrichten {
    margin-left: 2%;
    margin-right: 2%;
}

.botDiv {
    height: 90%;
    width: 25%;
    border: solid black 1px;
    overflow: auto;
}